@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  .small-case {
    font-variant: small-caps;
  }
  .text-shadow {
    text-shadow: 2px 2px 2px black;
  }
  .modpack-rows {
    grid-template-columns: 8rem 1fr 12rem 3rem;
  }
  .modpack-rows-mobile {
    grid-template-columns: 8rem 1fr;
  }
  .modal-header {
    grid-template-columns: 1fr 48px;
  }
  .pack-page-grid {
    grid-template-columns: 18rem auto 18rem;
  }
  .user-reset img {
    display: inline-block;
  }
  .user-reset a {
    text-decoration: underline;
    font-weight: bold;
  }
  .user-reset p {
    margin-bottom: 1rem;
  }
}

@layer components {
  .footer-link {
    @apply font-semibold small-case;
  }
  .home-navigation-text {
    @apply absolute flex justify-center items-center h-full w-full flex-wrap text-center font-extrabold italic text-gray-200 small-case text-shadow;
  }
  .btn-filter {
    @apply font-semibold bg-secondary text-normal border rounded-full px-4 py-2 shadow-xs shadow-normal flex gap-2 transition duration-100 hover:text-accent hover:border-accent hover:shadow-accent hover:bg-tertiary;
  }
  .sidebar-hover:hover {
    @apply bg-accent pr-8;
  }
  .pack-link {
    @apply text-xl tracking-wider font-semibold py-3 px-5 flex gap-2 lt-2xl:text-lg small-case bg-tertiary rounded-xl shadow-xs shadow-tertiary justify-center;
  }
}

@layer utilities {
  /* Animation Speed */
  .speed-xs {
    animation-duration: 0.5s;
  }
  .speed-sm {
    animation-duration: 1s;
  }
  .speed-md {
    animation-duration: 2s;
  }
  .speed-lg {
    animation-duration: 3s;
  }
  .speed-xl {
    animation-duration: 4s;
  }

  /* Animation Timing */
  .timing-ping {
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .timing-pulse {
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  }
  .timing-linear {
    animation-timing-function: linear;
  }
  .timing-ease {
    animation-timing-function: ease;
  }
  .timing-ease-i {
    animation-timing-function: ease-in;
  }
  .timing-ease-o {
    animation-timing-function: ease-out;
  }
  .timing-ease-io {
    animation-timing-function: ease-in-out;
  }

  /* Animation Iteration */
  .iteration-infinite {
    animation-iteration-count: infinite;
  }
  .iteration-one {
    animation-iteration-count: 1;
  }
  .iteration-two {
    animation-iteration-count: 2;
  }

  /* Animation Name */
  .anim-spin-name {
    animation-name: spin;
  }
  .anim-ping-name {
    animation-name: ping;
  }
  .anim-pulse-name {
    animation-name: pulse;
  }
  .anim-bounce-name {
    animation-name: bounce;
  }

  /* Animation */
  .animation-spin {
    @apply anim-spin-name timing-linear iteration-infinite;
  }
  .animation-ping {
    @apply anim-ping-name timing-ping iteration-infinite;
  }
  .animation-pulse {
    @apply anim-pulse-name timing-pulse iteration-infinite;
  }
  .animation-bounce {
    @apply anim-bounce-name iteration-infinite;
  }
}

body {
  @apply bg-primary text-normal;
}
