@font-face {
	font-family: "custom";
	src: url("custom.eot?53702725");
	src: url("custom.eot?53702725#iefix") format("embedded-opentype"),
		url("custom.woff2?53702725") format("woff2"),
		url("custom.woff?53702725") format("woff"),
		url("custom.ttf?53702725") format("truetype"),
		url("custom.svg?53702725#custom") format("svg");
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'custom';
    src: url('custom.svg?53702725#custom') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "custom";
	font-style: normal;
	font-weight: normal;
	speak: never;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: 0.2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-work:before {
	content: "\e800";
} /* '' */
.icon-bookmark:before {
	content: "\e801";
} /* '' */
.icon-branch-empty:before {
	content: "\e802";
} /* '' */
.icon-branch-fill:before {
	content: "\e803";
} /* '' */
.icon-code:before {
	content: "\e804";
} /* '' */
.icon-copy:before {
	content: "\e805";
} /* '' */
.icon-database:before {
	content: "\e806";
} /* '' */
.icon-dots:before {
	content: "\e807";
} /* '' */
.icon-diploma:before {
	content: "\e808";
} /* '' */
.icon-download:before {
	content: "\e809";
} /* '' */
.icon-dots-up:before {
	content: "\e80a";
} /* '' */
.icon-exclamation:before {
	content: "\e80b";
} /* '' */
.icon-filter:before {
	content: "\e80c";
} /* '' */
.icon-game:before {
	content: "\e80d";
} /* '' */
.icon-learn:before {
	content: "\e80e";
} /* '' */
.icon-link:before {
	content: "\e80f";
} /* '' */
.icon-more:before {
	content: "\e810";
} /* '' */
.icon-pin:before {
	content: "\e811";
} /* '' */
.icon-responsive:before {
	content: "\e812";
} /* '' */
.icon-shield:before {
	content: "\e813";
} /* '' */
.icon-share:before {
	content: "\e814";
} /* '' */
.icon-terminal:before {
	content: "\e815";
} /* '' */
.icon-upload:before {
	content: "\e816";
} /* '' */
.icon-window-minimise:before {
	content: "\e817";
} /* '' */
.icon-window-reduce:before {
	content: "\e818";
} /* '' */
.icon-window-close:before {
	content: "\e819";
} /* '' */
.icon-window-maximise:before {
	content: "\e81a";
} /* '' */
.icon-music-play:before {
	content: "\e81b";
} /* '' */
.icon-music-play-v2:before {
	content: "\e81c";
} /* '' */
.icon-music-listen:before {
	content: "\e81d";
} /* '' */
.icon-menu-v4:before {
	content: "\e81e";
} /* '' */
.icon-menu-v5:before {
	content: "\e81f";
} /* '' */
.icon-menu-v6:before {
	content: "\e820";
} /* '' */
.icon-menu-v7:before {
	content: "\e821";
} /* '' */
.icon-menu:before {
	content: "\e822";
} /* '' */
.icon-menu-v2:before {
	content: "\e823";
} /* '' */
.icon-menu-v3:before {
	content: "\e824";
} /* '' */
.icon-media-next-v3:before {
	content: "\e825";
} /* '' */
.icon-media-next-v4:before {
	content: "\e826";
} /* '' */
.icon-media-pause:before {
	content: "\e827";
} /* '' */
.icon-media-pause-v2:before {
	content: "\e828";
} /* '' */
.icon-media-play:before {
	content: "\e829";
} /* '' */
.icon-media-play-v2:before {
	content: "\e82a";
} /* '' */
.icon-media-play-v3:before {
	content: "\e82b";
} /* '' */
.icon-media-previous:before {
	content: "\e82c";
} /* '' */
.icon-media-previous-v2:before {
	content: "\e82d";
} /* '' */
.icon-media-previous-v4:before {
	content: "\e82e";
} /* '' */
.icon-media-previous-v3:before {
	content: "\e82f";
} /* '' */
.icon-media-repeat:before {
	content: "\e830";
} /* '' */
.icon-media-repeat-1:before {
	content: "\e831";
} /* '' */
.icon-media-repeat-1-v2-1:before {
	content: "\e832";
} /* '' */
.icon-media-repeat-1-v2-2:before {
	content: "\e833";
} /* '' */
.icon-media-repeat-1-v3-1:before {
	content: "\e834";
} /* '' */
.icon-media-repeat-1-v3-2:before {
	content: "\e835";
} /* '' */
.icon-media-repeat-v2:before {
	content: "\e836";
} /* '' */
.icon-media-repeat-v3:before {
	content: "\e837";
} /* '' */
.icon-media-repeat-v5:before {
	content: "\e838";
} /* '' */
.icon-media-repeat-v4:before {
	content: "\e839";
} /* '' */
.icon-media-repeat-v6:before {
	content: "\e83a";
} /* '' */
.icon-media-repeat-v7:before {
	content: "\e83b";
} /* '' */
.icon-media-repeat-v8:before {
	content: "\e83c";
} /* '' */
.icon-media-rewind:before {
	content: "\e83d";
} /* '' */
.icon-media-shuffle:before {
	content: "\e83e";
} /* '' */
.icon-media-shuffle-v2:before {
	content: "\e83f";
} /* '' */
.icon-media-shuffle-v3:before {
	content: "\e840";
} /* '' */
.icon-media-shuffle-v4:before {
	content: "\e841";
} /* '' */
.icon-media-shuffle-v5:before {
	content: "\e842";
} /* '' */
.icon-media-stop:before {
	content: "\e843";
} /* '' */
.icon-media-stop-v2:before {
	content: "\e844";
} /* '' */
.icon-media-stop-v3:before {
	content: "\e845";
} /* '' */
.icon-media-forward:before {
	content: "\e846";
} /* '' */
.icon-media-mic-off:before {
	content: "\e847";
} /* '' */
.icon-media-mic-on:before {
	content: "\e848";
} /* '' */
.icon-media-mic-v2:before {
	content: "\e849";
} /* '' */
.icon-media-mic-v3:before {
	content: "\e84a";
} /* '' */
.icon-media-next:before {
	content: "\e84b";
} /* '' */
.icon-media-next-v2:before {
	content: "\e84c";
} /* '' */
.icon-nodejs:before {
	content: "\e84d";
} /* '' */
.icon-nodejs-v2:before {
	content: "\e84e";
} /* '' */
.icon-notion:before {
	content: "\e84f";
} /* '' */
.icon-photoshop:before {
	content: "\e850";
} /* '' */
.icon-photoshop-v2:before {
	content: "\e851";
} /* '' */
.icon-php:before {
	content: "\e852";
} /* '' */
.icon-php-v2:before {
	content: "\e853";
} /* '' */
.icon-preloadjs:before {
	content: "\e854";
} /* '' */
.icon-preloadjs-v2:before {
	content: "\e855";
} /* '' */
.icon-prepros:before {
	content: "\e856";
} /* '' */
.icon-prepros-v2:before {
	content: "\e857";
} /* '' */
.icon-reactjs:before {
	content: "\e858";
} /* '' */
.icon-redux:before {
	content: "\e859";
} /* '' */
.icon-sass:before {
	content: "\e85a";
} /* '' */
.icon-sass-v2:before {
	content: "\e85b";
} /* '' */
.icon-soundjs:before {
	content: "\e85c";
} /* '' */
.icon-soundjs-v2:before {
	content: "\e85d";
} /* '' */
.icon-stackoverflow:before {
	content: "\e85e";
} /* '' */
.icon-tailwind:before {
	content: "\e85f";
} /* '' */
.icon-themoviedb:before {
	content: "\e860";
} /* '' */
.icon-tweenjs:before {
	content: "\e861";
} /* '' */
.icon-tweenjs-v2:before {
	content: "\e862";
} /* '' */
.icon-vscode:before {
	content: "\e863";
} /* '' */
.icon-wordpress:before {
	content: "\e864";
} /* '' */
.icon-createjs:before {
	content: "\e865";
} /* '' */
.icon-wordpress-v2:before {
	content: "\e866";
} /* '' */
.icon-css:before {
	content: "\e867";
} /* '' */
.icon-createjs-v2:before {
	content: "\e868";
} /* '' */
.icon-css3:before {
	content: "\e869";
} /* '' */
.icon-easeljs:before {
	content: "\e86a";
} /* '' */
.icon-easeljs-v2:before {
	content: "\e86b";
} /* '' */
.icon-express:before {
	content: "\e86c";
} /* '' */
.icon-express-v2:before {
	content: "\e86d";
} /* '' */
.icon-firebase:before {
	content: "\e86e";
} /* '' */
.icon-firebase-v2:before {
	content: "\e86f";
} /* '' */
.icon-github-v2:before {
	content: "\e870";
} /* '' */
.icon-github-v3:before {
	content: "\e871";
} /* '' */
.icon-github:before {
	content: "\e872";
} /* '' */
.icon-git:before {
	content: "\e873";
} /* '' */
.icon-github-v5:before {
	content: "\e874";
} /* '' */
.icon-github-v4:before {
	content: "\e875";
} /* '' */
.icon-javascript:before {
	content: "\e876";
} /* '' */
.icon-illustrator:before {
	content: "\e877";
} /* '' */
.icon-html5:before {
	content: "\e878";
} /* '' */
.icon-illustrator-v2:before {
	content: "\e879";
} /* '' */
.icon-jquery:before {
	content: "\e87a";
} /* '' */
.icon-jquery-v2:before {
	content: "\e87b";
} /* '' */
.icon-mysql:before {
	content: "\e87c";
} /* '' */
.icon-linkedin:before {
	content: "\e87d";
} /* '' */
.icon-mysql-v2:before {
	content: "\e87e";
} /* '' */
.icon-file-gz:before {
	content: "\e87f";
} /* '' */
.icon-file-docx:before {
	content: "\e880";
} /* '' */
.icon-file-html:before {
	content: "\e881";
} /* '' */
.icon-file-jar:before {
	content: "\e882";
} /* '' */
.icon-file-gif:before {
	content: "\e883";
} /* '' */
.icon-file-js:before {
	content: "\e884";
} /* '' */
.icon-file-pdf:before {
	content: "\e885";
} /* '' */
.icon-file-jpg:before {
	content: "\e886";
} /* '' */
.icon-file-jpeg:before {
	content: "\e887";
} /* '' */
.icon-file-log:before {
	content: "\e888";
} /* '' */
.icon-file-mp3:before {
	content: "\e889";
} /* '' */
.icon-file-jsx:before {
	content: "\e88a";
} /* '' */
.icon-file-ogg:before {
	content: "\e88b";
} /* '' */
.icon-file-mp4:before {
	content: "\e88c";
} /* '' */
.icon-file-json:before {
	content: "\e88d";
} /* '' */
.icon-file-md:before {
	content: "\e88e";
} /* '' */
.icon-file-png:before {
	content: "\e88f";
} /* '' */
.icon-file-php:before {
	content: "\e890";
} /* '' */
.icon-file-rar:before {
	content: "\e891";
} /* '' */
.icon-file-sql:before {
	content: "\e892";
} /* '' */
.icon-file-sass:before {
	content: "\e893";
} /* '' */
.icon-file-svg:before {
	content: "\e894";
} /* '' */
.icon-file-tiff:before {
	content: "\e895";
} /* '' */
.icon-file-scss:before {
	content: "\e896";
} /* '' */
.icon-file-psd:before {
	content: "\e897";
} /* '' */
.icon-file-webm:before {
	content: "\e898";
} /* '' */
.icon-file-xls:before {
	content: "\e899";
} /* '' */
.icon-file-webp:before {
	content: "\e89a";
} /* '' */
.icon-file-tar:before {
	content: "\e89b";
} /* '' */
.icon-file-txt:before {
	content: "\e89c";
} /* '' */
.icon-file-sh:before {
	content: "\e89d";
} /* '' */
.icon-file-xlsx:before {
	content: "\e89e";
} /* '' */
.icon-file-xml:before {
	content: "\e89f";
} /* '' */
.icon-file-zip:before {
	content: "\e8a0";
} /* '' */
.icon-folder:before {
	content: "\e8a1";
} /* '' */
.icon-folder-v2:before {
	content: "\e8a2";
} /* '' */
.icon-file-7z:before {
	content: "\e8a4";
} /* '' */
.icon-file-bat:before {
	content: "\e8a5";
} /* '' */
.icon-file-batch:before {
	content: "\e8a6";
} /* '' */
.icon-file-csv:before {
	content: "\e8a7";
} /* '' */
.icon-file-css:before {
	content: "\e8a8";
} /* '' */
.icon-file-doc:before {
	content: "\e8a9";
} /* '' */
.icon-eye-open:before {
	content: "\e8aa";
} /* '' */
.icon-eye-close:before {
	content: "\e8ab";
} /* '' */
.icon-money-rouble-v2:before {
	content: "\e8ac";
} /* '' */
.icon-money-rupee:before {
	content: "\e8ad";
} /* '' */
.icon-money-rupee-v2:before {
	content: "\e8ae";
} /* '' */
.icon-money-won:before {
	content: "\e8af";
} /* '' */
.icon-money-won-v2:before {
	content: "\e8b0";
} /* '' */
.icon-money-yen-v2:before {
	content: "\e8b1";
} /* '' */
.icon-money-dollar-v2:before {
	content: "\e8b2";
} /* '' */
.icon-money-yen:before {
	content: "\e8b3";
} /* '' */
.icon-money-dollar:before {
	content: "\e8b4";
} /* '' */
.icon-money-euro:before {
	content: "\e8b5";
} /* '' */
.icon-money-euro-v2:before {
	content: "\e8b6";
} /* '' */
.icon-money-pound:before {
	content: "\e8b7";
} /* '' */
.icon-money-pound-v2:before {
	content: "\e8b8";
} /* '' */
.icon-money-rouble:before {
	content: "\e8b9";
} /* '' */
.icon-crypto-bitcoin-v2:before {
	content: "\e8ba";
} /* '' */
.icon-crypto-ethereum:before {
	content: "\e8bb";
} /* '' */
.icon-crypto-bitcoin:before {
	content: "\e8bc";
} /* '' */
.icon-close-v5:before {
	content: "\e8bd";
} /* '' */
.icon-close-v6:before {
	content: "\e8be";
} /* '' */
.icon-close-v7:before {
	content: "\e8bf";
} /* '' */
.icon-close:before {
	content: "\e8c0";
} /* '' */
.icon-close-v2:before {
	content: "\e8c1";
} /* '' */
.icon-close-v3:before {
	content: "\e8c2";
} /* '' */
.icon-close-v4:before {
	content: "\e8c3";
} /* '' */
.icon-check-v4:before {
	content: "\e8c4";
} /* '' */
.icon-check-v5:before {
	content: "\e8c5";
} /* '' */
.icon-check-v6:before {
	content: "\e8c6";
} /* '' */
.icon-check-v7:before {
	content: "\e8c7";
} /* '' */
.icon-check:before {
	content: "\e8c8";
} /* '' */
.icon-check-v2:before {
	content: "\e8c9";
} /* '' */
.icon-check-v3:before {
	content: "\e8ca";
} /* '' */
.icon-circle-info:before {
	content: "\e8cb";
} /* '' */
.icon-circle-interogation:before {
	content: "\e8cc";
} /* '' */
.icon-circle-link:before {
	content: "\e8cd";
} /* '' */
.icon-circle-menu:before {
	content: "\e8ce";
} /* '' */
.icon-circle-menu-v2:before {
	content: "\e8cf";
} /* '' */
.icon-circle-minus:before {
	content: "\e8d0";
} /* '' */
.icon-circle-pin:before {
	content: "\e8d1";
} /* '' */
.icon-circle-more:before {
	content: "\e8d2";
} /* '' */
.icon-circle-share:before {
	content: "\e8d3";
} /* '' */
.icon-circle-shield:before {
	content: "\e8d4";
} /* '' */
.icon-circle-upload:before {
	content: "\e8d5";
} /* '' */
.icon-circle-arrow-down:before {
	content: "\e8d6";
} /* '' */
.icon-circle-arrow-left:before {
	content: "\e8d7";
} /* '' */
.icon-circle-arrow-right:before {
	content: "\e8d8";
} /* '' */
.icon-circle-arrow-up:before {
	content: "\e8d9";
} /* '' */
.icon-circle-bookmark:before {
	content: "\e8da";
} /* '' */
.icon-circle-check:before {
	content: "\e8db";
} /* '' */
.icon-circle-delete:before {
	content: "\e8dc";
} /* '' */
.icon-circle-download:before {
	content: "\e8dd";
} /* '' */
.icon-circle-dots:before {
	content: "\e8de";
} /* '' */
.icon-circle-exclamation:before {
	content: "\e8df";
} /* '' */
.icon-circle-eye-close:before {
	content: "\e8e0";
} /* '' */
.icon-circle-eye-open:before {
	content: "\e8e1";
} /* '' */
.icon-circle-filter:before {
	content: "\e8e2";
} /* '' */
.icon-arrow-down:before {
	content: "\e8e3";
} /* '' */
.icon-arrow-left:before {
	content: "\e8e4";
} /* '' */
.icon-arrow-up:before {
	content: "\e8e5";
} /* '' */
.icon-arrow-right:before {
	content: "\e8e6";
} /* '' */
.icon-trait-v1:before {
	content: "\e8e7";
} /* '' */
.icon-trait-v2:before {
	content: "\e8e8";
} /* '' */
.icon-trait-v3:before {
	content: "\e8e9";
} /* '' */
.icon-trait-v4:before {
	content: "\e8ea";
} /* '' */
.icon-trait-v5:before {
	content: "\e8eb";
} /* '' */
.icon-trait-v6:before {
	content: "\e8ec";
} /* '' */
.icon-trait-v7:before {
	content: "\e8ed";
} /* '' */
.icon-trait-v8:before {
	content: "\e8ee";
} /* '' */
.icon-trait-v9:before {
	content: "\e8ef";
} /* '' */
.icon-trait-v10:before {
	content: "\e8f0";
} /* '' */
.icon-iconly-outline-arrow-up:before {
	content: "\e8f1";
} /* '' */
.icon-iconly-outline-arrow-up-2:before {
	content: "\e8f2";
} /* '' */
.icon-iconly-outline-arrow-up-3:before {
	content: "\e8f3";
} /* '' */
.icon-iconly-outline-arrow-up-circle:before {
	content: "\e8f4";
} /* '' */
.icon-iconly-outline-arrow-up-square:before {
	content: "\e8f5";
} /* '' */
.icon-iconly-outline-bag:before {
	content: "\e8f6";
} /* '' */
.icon-iconly-outline-bag-2:before {
	content: "\e8f7";
} /* '' */
.icon-iconly-outline-bookmark:before {
	content: "\e8f8";
} /* '' */
.icon-iconly-outline-buy:before {
	content: "\e8f9";
} /* '' */
.icon-iconly-outline-calendar:before {
	content: "\e8fa";
} /* '' */
.icon-iconly-outline-call:before {
	content: "\e8fb";
} /* '' */
.icon-iconly-outline-calling:before {
	content: "\e8fc";
} /* '' */
.icon-iconly-outline-call-missed:before {
	content: "\e8fd";
} /* '' */
.icon-iconly-outline-call-silent:before {
	content: "\e8fe";
} /* '' */
.icon-iconly-outline-category:before {
	content: "\e8ff";
} /* '' */
.icon-iconly-outline-close-square:before {
	content: "\e900";
} /* '' */
.icon-iconly-outline-danger-circle:before {
	content: "\e901";
} /* '' */
.icon-iconly-outline-danger-triangle:before {
	content: "\e902";
} /* '' */
.icon-iconly-outline-delete:before {
	content: "\e903";
} /* '' */
.icon-iconly-outline-edit:before {
	content: "\e904";
} /* '' */
.icon-iconly-outline-hide:before {
	content: "\e905";
} /* '' */
.icon-iconly-outline-image:before {
	content: "\e906";
} /* '' */
.icon-iconly-outline-image-2:before {
	content: "\e907";
} /* '' */
.icon-iconly-outline-info-square:before {
	content: "\e908";
} /* '' */
.icon-iconly-outline-more-circle:before {
	content: "\e909";
} /* '' */
.icon-iconly-outline-more-square:before {
	content: "\e90a";
} /* '' */
.icon-iconly-outline-notification:before {
	content: "\e90b";
} /* '' */
.icon-iconly-outline-plus:before {
	content: "\e90c";
} /* '' */
.icon-iconly-outline-profile:before {
	content: "\e90d";
} /* '' */
.icon-iconly-outline-search:before {
	content: "\e90e";
} /* '' */
.icon-iconly-outline-setting:before {
	content: "\e90f";
} /* '' */
.icon-iconly-outline-show:before {
	content: "\e910";
} /* '' */
.icon-iconly-outline-tick-square:before {
	content: "\e911";
} /* '' */
.icon-iconly-bold-2-user:before {
	content: "\e912";
} /* '' */
.icon-iconly-bold-3-user:before {
	content: "\e913";
} /* '' */
.icon-iconly-bold-activity:before {
	content: "\e914";
} /* '' */
.icon-iconly-bold-add-user:before {
	content: "\e915";
} /* '' */
.icon-iconly-bold-arrow-down:before {
	content: "\e916";
} /* '' */
.icon-iconly-bold-arrow-down-3:before {
	content: "\e917";
} /* '' */
.icon-iconly-bold-arrow-down-2:before {
	content: "\e918";
} /* '' */
.icon-iconly-bold-arrow-down-circle:before {
	content: "\e919";
} /* '' */
.icon-iconly-bold-arrow-down-square:before {
	content: "\e91a";
} /* '' */
.icon-iconly-bold-arrow-left:before {
	content: "\e91b";
} /* '' */
.icon-iconly-bold-arrow-left-2:before {
	content: "\e91c";
} /* '' */
.icon-iconly-bold-arrow-left-3:before {
	content: "\e91d";
} /* '' */
.icon-iconly-bold-arrow-left-circle:before {
	content: "\e91e";
} /* '' */
.icon-iconly-bold-arrow-left-square:before {
	content: "\e91f";
} /* '' */
.icon-iconly-bold-arrow-right:before {
	content: "\e920";
} /* '' */
.icon-iconly-bold-arrow-right-2:before {
	content: "\e921";
} /* '' */
.icon-iconly-bold-arrow-right-3:before {
	content: "\e922";
} /* '' */
.icon-iconly-bold-arrow-right-circle:before {
	content: "\e923";
} /* '' */
.icon-iconly-bold-arrow-right-square:before {
	content: "\e924";
} /* '' */
.icon-iconly-bold-arrow-up:before {
	content: "\e925";
} /* '' */
.icon-iconly-bold-arrow-up-2:before {
	content: "\e926";
} /* '' */
.icon-iconly-bold-arrow-up-circle:before {
	content: "\e927";
} /* '' */
.icon-iconly-bold-arrow-up-3:before {
	content: "\e928";
} /* '' */
.icon-iconly-bold-bag:before {
	content: "\e929";
} /* '' */
.icon-iconly-bold-arrow-up-square:before {
	content: "\e92a";
} /* '' */
.icon-iconly-bold-bag-2:before {
	content: "\e92b";
} /* '' */
.icon-iconly-bold-bookmark:before {
	content: "\e92c";
} /* '' */
.icon-iconly-bold-buy:before {
	content: "\e92d";
} /* '' */
.icon-iconly-bold-calendar:before {
	content: "\e92e";
} /* '' */
.icon-iconly-bold-call:before {
	content: "\e92f";
} /* '' */
.icon-iconly-bold-calling:before {
	content: "\e930";
} /* '' */
.icon-iconly-bold-call-missed:before {
	content: "\e931";
} /* '' */
.icon-iconly-bold-call-silent:before {
	content: "\e932";
} /* '' */
.icon-iconly-bold-category:before {
	content: "\e933";
} /* '' */
.icon-iconly-bold-close-square:before {
	content: "\e934";
} /* '' */
.icon-iconly-bold-danger:before {
	content: "\e935";
} /* '' */
.icon-iconly-bold-delete:before {
	content: "\e936";
} /* '' */
.icon-iconly-bold-edit:before {
	content: "\e937";
} /* '' */
.icon-iconly-bold-hide:before {
	content: "\e938";
} /* '' */
.icon-iconly-bold-image:before {
	content: "\e939";
} /* '' */
.icon-iconly-bold-image-2:before {
	content: "\e93a";
} /* '' */
.icon-iconly-bold-info-circle:before {
	content: "\e93b";
} /* '' */
.icon-iconly-bold-info-square:before {
	content: "\e93c";
} /* '' */
.icon-iconly-bold-more-circle:before {
	content: "\e93d";
} /* '' */
.icon-iconly-bold-more-square:before {
	content: "\e93e";
} /* '' */
.icon-iconly-bold-notification:before {
	content: "\e93f";
} /* '' */
.icon-iconly-bold-plus:before {
	content: "\e940";
} /* '' */
.icon-iconly-bold-profile:before {
	content: "\e941";
} /* '' */
.icon-iconly-bold-search:before {
	content: "\e942";
} /* '' */
.icon-iconly-bold-setting:before {
	content: "\e943";
} /* '' */
.icon-iconly-bold-show:before {
	content: "\e944";
} /* '' */
.icon-iconly-bold-tick-square:before {
	content: "\e945";
} /* '' */
.icon-iconly-broken-2-user:before {
	content: "\e946";
} /* '' */
.icon-iconly-broken-3-user:before {
	content: "\e947";
} /* '' */
.icon-iconly-broken-activity:before {
	content: "\e948";
} /* '' */
.icon-iconly-broken-add-user:before {
	content: "\e949";
} /* '' */
.icon-iconly-broken-arrow-down:before {
	content: "\e94a";
} /* '' */
.icon-iconly-broken-arrow-down-2:before {
	content: "\e94b";
} /* '' */
.icon-iconly-broken-arrow-down-3:before {
	content: "\e94c";
} /* '' */
.icon-iconly-broken-arrow-down-circle:before {
	content: "\e94d";
} /* '' */
.icon-iconly-broken-arrow-down-square:before {
	content: "\e94e";
} /* '' */
.icon-iconly-broken-arrow-left-2:before {
	content: "\e94f";
} /* '' */
.icon-iconly-broken-arrow-left:before {
	content: "\e950";
} /* '' */
.icon-iconly-broken-arrow-left-3:before {
	content: "\e951";
} /* '' */
.icon-iconly-broken-arrow-left-circle:before {
	content: "\e952";
} /* '' */
.icon-iconly-broken-arrow-left-square:before {
	content: "\e953";
} /* '' */
.icon-iconly-broken-arrow-right:before {
	content: "\e954";
} /* '' */
.icon-iconly-broken-arrow-right-2:before {
	content: "\e955";
} /* '' */
.icon-iconly-broken-arrow-right-3:before {
	content: "\e956";
} /* '' */
.icon-iconly-broken-arrow-right-circle:before {
	content: "\e957";
} /* '' */
.icon-iconly-broken-arrow-right-square:before {
	content: "\e958";
} /* '' */
.icon-iconly-broken-arrow-up:before {
	content: "\e959";
} /* '' */
.icon-iconly-broken-arrow-up-2:before {
	content: "\e95a";
} /* '' */
.icon-iconly-broken-arrow-up-3:before {
	content: "\e95b";
} /* '' */
.icon-iconly-broken-arrow-up-circle:before {
	content: "\e95c";
} /* '' */
.icon-iconly-broken-arrow-up-square:before {
	content: "\e95d";
} /* '' */
.icon-iconly-broken-bag:before {
	content: "\e95e";
} /* '' */
.icon-iconly-broken-bag-2:before {
	content: "\e95f";
} /* '' */
.icon-iconly-broken-bookmark:before {
	content: "\e960";
} /* '' */
.icon-iconly-broken-buy:before {
	content: "\e961";
} /* '' */
.icon-iconly-broken-calendar:before {
	content: "\e962";
} /* '' */
.icon-iconly-broken-call:before {
	content: "\e963";
} /* '' */
.icon-iconly-broken-calling:before {
	content: "\e964";
} /* '' */
.icon-iconly-broken-call-missed:before {
	content: "\e965";
} /* '' */
.icon-iconly-broken-call-silent:before {
	content: "\e966";
} /* '' */
.icon-iconly-broken-category:before {
	content: "\e967";
} /* '' */
.icon-iconly-broken-close-square:before {
	content: "\e968";
} /* '' */
.icon-iconly-broken-danger:before {
	content: "\e969";
} /* '' */
.icon-iconly-broken-delete:before {
	content: "\e96a";
} /* '' */
.icon-iconly-broken-edit:before {
	content: "\e96b";
} /* '' */
.icon-iconly-broken-hide:before {
	content: "\e96c";
} /* '' */
.icon-iconly-broken-image:before {
	content: "\e96d";
} /* '' */
.icon-iconly-broken-image-2:before {
	content: "\e96e";
} /* '' */
.icon-iconly-broken-info-circle:before {
	content: "\e96f";
} /* '' */
.icon-iconly-broken-info-square:before {
	content: "\e970";
} /* '' */
.icon-iconly-broken-more-circle:before {
	content: "\e971";
} /* '' */
.icon-iconly-broken-more-square:before {
	content: "\e972";
} /* '' */
.icon-iconly-broken-notification:before {
	content: "\e973";
} /* '' */
.icon-iconly-broken-plus:before {
	content: "\e974";
} /* '' */
.icon-iconly-broken-profile:before {
	content: "\e975";
} /* '' */
.icon-iconly-broken-search:before {
	content: "\e976";
} /* '' */
.icon-iconly-broken-setting:before {
	content: "\e977";
} /* '' */
.icon-iconly-broken-show:before {
	content: "\e978";
} /* '' */
.icon-iconly-broken-tick-square:before {
	content: "\e979";
} /* '' */
.icon-iconly-curved-2-user:before {
	content: "\e97a";
} /* '' */
.icon-iconly-curved-3-user:before {
	content: "\e97b";
} /* '' */
.icon-iconly-curved-activity:before {
	content: "\e97c";
} /* '' */
.icon-iconly-curved-add-user:before {
	content: "\e97d";
} /* '' */
.icon-iconly-curved-arrow-down:before {
	content: "\e97e";
} /* '' */
.icon-iconly-curved-arrow-down-2:before {
	content: "\e97f";
} /* '' */
.icon-iconly-curved-arrow-down-3:before {
	content: "\e980";
} /* '' */
.icon-iconly-curved-arrow-down-circle:before {
	content: "\e981";
} /* '' */
.icon-iconly-curved-arrow-down-square:before {
	content: "\e982";
} /* '' */
.icon-iconly-curved-arrow-left:before {
	content: "\e983";
} /* '' */
.icon-iconly-curved-arrow-left-2:before {
	content: "\e984";
} /* '' */
.icon-iconly-curved-arrow-left-3:before {
	content: "\e985";
} /* '' */
.icon-iconly-curved-arrow-left-circle:before {
	content: "\e986";
} /* '' */
.icon-iconly-curved-arrow-left-square:before {
	content: "\e987";
} /* '' */
.icon-iconly-curved-arrow-right:before {
	content: "\e988";
} /* '' */
.icon-iconly-curved-arrow-right-2:before {
	content: "\e989";
} /* '' */
.icon-iconly-curved-arrow-right-3:before {
	content: "\e98a";
} /* '' */
.icon-iconly-curved-arrow-right-circle:before {
	content: "\e98b";
} /* '' */
.icon-iconly-curved-arrow-right-square:before {
	content: "\e98c";
} /* '' */
.icon-iconly-curved-arrow-up:before {
	content: "\e98d";
} /* '' */
.icon-iconly-curved-arrow-up-2:before {
	content: "\e98e";
} /* '' */
.icon-iconly-curved-arrow-up-3:before {
	content: "\e98f";
} /* '' */
.icon-iconly-curved-arrow-up-circle:before {
	content: "\e990";
} /* '' */
.icon-iconly-curved-arrow-up-square:before {
	content: "\e991";
} /* '' */
.icon-iconly-curved-bag:before {
	content: "\e992";
} /* '' */
.icon-iconly-curved-bag-2:before {
	content: "\e993";
} /* '' */
.icon-iconly-curved-bookmark:before {
	content: "\e994";
} /* '' */
.icon-iconly-curved-buy:before {
	content: "\e995";
} /* '' */
.icon-iconly-curved-calendar:before {
	content: "\e996";
} /* '' */
.icon-iconly-curved-call:before {
	content: "\e997";
} /* '' */
.icon-iconly-curved-calling:before {
	content: "\e998";
} /* '' */
.icon-iconly-curved-call-missed:before {
	content: "\e999";
} /* '' */
.icon-iconly-curved-call-silent:before {
	content: "\e99a";
} /* '' */
.icon-iconly-curved-category:before {
	content: "\e99b";
} /* '' */
.icon-iconly-curved-close-square:before {
	content: "\e99c";
} /* '' */
.icon-iconly-curved-danger-square:before {
	content: "\e99d";
} /* '' */
.icon-iconly-curved-danger-triangle:before {
	content: "\e99e";
} /* '' */
.icon-iconly-curved-delete:before {
	content: "\e99f";
} /* '' */
.icon-iconly-curved-edit:before {
	content: "\e9a0";
} /* '' */
.icon-iconly-curved-hide:before {
	content: "\e9a1";
} /* '' */
.icon-iconly-curved-image:before {
	content: "\e9a2";
} /* '' */
.icon-iconly-curved-image-2:before {
	content: "\e9a3";
} /* '' */
.icon-iconly-curved-info-square:before {
	content: "\e9a4";
} /* '' */
.icon-iconly-curved-more-circle:before {
	content: "\e9a5";
} /* '' */
.icon-iconly-curved-more-square:before {
	content: "\e9a6";
} /* '' */
.icon-iconly-curved-notification:before {
	content: "\e9a7";
} /* '' */
.icon-iconly-curved-plus:before {
	content: "\e9a8";
} /* '' */
.icon-iconly-curved-profile:before {
	content: "\e9a9";
} /* '' */
.icon-iconly-curved-search:before {
	content: "\e9aa";
} /* '' */
.icon-iconly-curved-setting:before {
	content: "\e9ab";
} /* '' */
.icon-iconly-curved-show:before {
	content: "\e9ac";
} /* '' */
.icon-iconly-curved-tick-square:before {
	content: "\e9ad";
} /* '' */
.icon-iconly-outline-2-user:before {
	content: "\e9ae";
} /* '' */
.icon-iconly-outline-3-user:before {
	content: "\e9af";
} /* '' */
.icon-iconly-outline-activity:before {
	content: "\e9b0";
} /* '' */
.icon-iconly-outline-add-user:before {
	content: "\e9b1";
} /* '' */
.icon-iconly-outline-arrow-down:before {
	content: "\e9b2";
} /* '' */
.icon-iconly-outline-arrow-down-2:before {
	content: "\e9b3";
} /* '' */
.icon-iconly-outline-arrow-down-3:before {
	content: "\e9b4";
} /* '' */
.icon-iconly-outline-arrow-down-circle:before {
	content: "\e9b5";
} /* '' */
.icon-iconly-outline-arrow-down-square:before {
	content: "\e9b6";
} /* '' */
.icon-iconly-outline-arrow-left:before {
	content: "\e9b7";
} /* '' */
.icon-iconly-outline-arrow-left-2:before {
	content: "\e9b8";
} /* '' */
.icon-iconly-outline-arrow-left-3:before {
	content: "\e9b9";
} /* '' */
.icon-iconly-outline-arrow-left-circle:before {
	content: "\e9ba";
} /* '' */
.icon-iconly-outline-arrow-left-square:before {
	content: "\e9bb";
} /* '' */
.icon-iconly-outline-arrow-right:before {
	content: "\e9bc";
} /* '' */
.icon-iconly-outline-arrow-right-2:before {
	content: "\e9bd";
} /* '' */
.icon-iconly-outline-arrow-right-3:before {
	content: "\e9be";
} /* '' */
.icon-iconly-outline-arrow-right-circle:before {
	content: "\e9bf";
} /* '' */
.icon-iconly-outline-arrow-right-square:before {
	content: "\e9c0";
} /* '' */
.icon-tiles:before {
	content: "\e9c1";
} /* '' */
.icon-rows:before {
	content: "\e9c2";
} /* '' */
.icon-file:before {
	content: "\e9c3";
} /* '' */
.icon-file-2:before {
	content: "\e9c4";
} /* '' */
